html,
body {
  font-family: 'YuMincho', '游明朝';
  font-weight: bold;
  text-align: center;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  background-color: black;
}

.header-logo {
  margin: 15px 0 15px 10px;
  width: 193px;
}

.nav-list {
  display: flex;
  margin-top: 28px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.nav-item a {
  font-size: 22px;
  color: white;
}

.header-nav {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-left: 25px;
}
.top {
  height: 551px;
  background-image: url('https://k-nishi24.github.io/cooding-shcool/image/top-bg.png');
  background-size: cover;
  background-position: center;
}

.top-title {
  font-size: 60px;
  padding-top: 240px;
  padding-bottom: 240px;
}

.course {
  padding-top: 50px;
}

.cmn-title {
  font-size: 40px;
  margin: 53px 0 40px 0;
}

.course-cont {
  padding-top: 40px;
}

.course-list {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.course-item {
  width: 290px;
  box-shadow: 0px 3px 6px #00000029;
  padding-bottom: 30px;
}

.course-item:nth-child(n + 2) {
  margin-left: 20px;
}

.course-item-text {
  margin: 20px 10px 10px 10px;
  p {
    font-size: 18px;
  }
}
.course-item-box {
  position: relative;
  margin-top: 48px;
  p {
    font-size: 16px;
  }
}

.course-item-box p:nth-child(2) {
  margin-top: 8px;
}

.course-item-box:before {
  position: absolute;
  content: '';
  width: 80%;
  height: 1px;
  background-color: #707070;
  left: 0;
  right: 0;
  margin: auto;
  top: -9px;
}

.course-btn {
  margin-top: 50px;
  a {
    box-shadow: 0px 3px 6px #00000029;
    width: 310px;
    font-size: 18px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 5px;
  }
}

.teacher {
  padding-top: 45px;
  padding-bottom: 80px;
}

.teacher-cont {
  padding-left: 120px;
  padding-right: 120px;
}

.teacher-list {
  padding-top: 45px;
}

.teacher-item {
  display: flex;
  align-items: center;
}

.teacher-item-text {
  margin-left: 60px;
  flex: 1;
}

.teacher-item-text p {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.teacher-item-title p {
  font-size: 40px;
  text-align: left;
}

.teacher-item-image {
  width: 250px;
}

.teacher-item:nth-child(2) {
  margin-top: 60px;
}

.contact {
  background-image: url(https://k-nishi24.github.io/cooding-shcool/image/contact-bg.png);
  background-size: cover;
  background-position: center;
  height: 455px;
  color: white;
}

.contact-title {
  font-size: 36px;
  padding: 62px 0 53px 0;
}

.contact-text {
  line-height: 170%;
  p {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.contact-btn {
  width: 210px;
  height: 54px;
  margin: 0 auto;
  background-color: #dc143c;
  border-radius: 5px;
  a {
    text-decoration: none;
    line-height: 54px;
    color: white;
  }
}
.footer {
  height: 80px;
  background-color: #000000;
  .copyright {
    color: white;
    padding: 32px 0 31px 0;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .top-title {
    font-size: 26px;
  }

  .course-list {
    display: block;
  }

  .course-item {
    width: 100%;
    padding-bottom: 30px;
  }

  .course-item:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 30px;
  }

  .teacher-cont {
    padding-left: 0;
    padding-right: 0;
  }

  .teacher-item {
    display: block;
  }

  .teacher-item-image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }

  .teacher-item-text {
    margin-left: 26px;
    margin-right: 26px;
  }

  .teacher-item-title p {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .course-item-text {
    padding-bottom: 30px;
  }
}
